services:
  dynamodb-local:
    image: amazon/dynamodb-local:latest
    container_name: portfolio-dynamodb-local
    ports:
      - "8000:8000"
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    volumes:
      - "./dynamodb_data:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal
    networks:
      - portfolio-network

networks:
  portfolio-network:
    driver: bridge
